.header{
    margin: 20px auto;
    max-width: 970px;
    padding: 0;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}