.dashboard{
    padding: 0;
    max-width: 970px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
}